<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="webpages:Version" value="1.0.0.0"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="environment" value="development"/>
    <add key="loggingServerEndPoint" value="http://localhost:8080/LoggingServerBin.svc"/>
    <add key="maxResults" value="5"/>
    <add key="buildStatusesUrl" value="http://tools.sycorr.com/build/rss/createAllBuildsRssFeed.action?feedType=rssAll" />
    <add key="repositoryCommitsUrl" value="http://tools.sycorr.com/source/changelog/cl-uscpp?view=all&amp;max=30&amp;FEAUTH=mstatz%3A16%3Aebd9c6c04dc0c172f114e5ad54aad6dc&amp;RSS=true" />
    <add key="jiraUrl" value="http://tools.sycorr.com/jira/sr/jira.issueviews:searchrequest-rss/temp/SearchRequest.xml?jqlQuery=status+%3D+Open+ORDER+BY+created+DESC%2C+key+DESC&amp;tempMax=100&amp;os_username=mstatz&amp;os_password=p@ssw0rd"/>
  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>

    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages"/>
      </namespaces>
    </pages>
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
