<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="buildServerRestApi" value="http://tools.sycorr.com/build/rest/api/latest" />

        <add key="jiraUsername" value="blah" />
        <add key="jiraPassword" value="passworder" />
        <add key="jiraRestApi" value="http://tools.sycorr.com/jira/rest/api/latest"/>
    </appSettings>
</configuration>