body
{
	font-family: Arial;
}
.news-wrapper
{
	position: relative;
	overflow: hidden;
}
.news-title
{
	float: left;
	background-image: url(/Content/images/dnews/title-news.png);
	background-color: #2f2f2f;
	width: 18px;
	height: 36px;
	z-index: 11;
	border-radius-topleft: 3px;
	border-radius-bottomleft: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-bottomleft: 3px;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
}

.twitter-style div.news-title
{
     background-image: url(/Content/images/dnews/title-twitter.png);   
}

.news
{
	background-color: #aed0ec;
	height: 36px;
	border-radius-topright: 4px;
	border-radius-bottomright: 4px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-bottomright: 4px;
	-webkit-border-top-right-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	overflow: hidden;
}
.twitter-style .news {
    height: 72px;
	border-radius-bottomleft: 4px;
	-moz-border-radius-bottomleft: 4px;
	-webkit-border-bottom-left-radius: 4px;
}
.headline
{
	position: absolute;
	font-size: 10pt;
	height: 24px;
	padding: 8px 12px 8px 8px;
	overflow: hidden;
	z-index: 1;
	/*overflow: hidden;*/
}
.twitter-style .headline {
    height: 48px;
}
.headline a
{
	background-repeat: no-repeat;
	background-position: right bottom;
	padding-right: 20px;	
}
.headline a, .headline a:active, .headline a:visited
{
	color: #1e1e1e;
	text-decoration: none;
}
.headline a:hover
{
	color: #163b5b;
	text-decoration: none;
}
.news-wrapper.multiple
{
	width: 680px;
	overflow: hidden;
}

.news-wrapper .twitter-style {
    overflow: auto;
}

.news-wrapper.multiple .news-title
{
	float: left;
}
.news-wrapper.multiple .news
{
	float: left;
	width: 2000px;
}
.news-wrapper.multiple .headline
{
	position: relative;
	float: left;
	margin-left: 0px;
}
img.twitter-headline {
    margin-right: 5px;
    vertical-align: middle;
}